<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
</head>
<body>

<h1>Welcome to Quick Prescrip!</h1>
<h2>Please select either the doctor or patient home page.</h2>

<%= button_to "Patient Home", '/patients/home', method: :get%>
<%= button_to "Doctor Home", '/doctors/home', method: :get%>
</body>

</html>