<h1>Prescription</h1>
Drug name:
<%= @prescription.drug.name %><br>
Patient name:
<%= @prescription.patient_name %><br>
Doctor name:
<%= @prescription.doctor_name %><br>
Dosage: 
<%= @prescription.dosage %>mg<br>